{% extends "base.html" %}

{% block content %}

<div class="row">
<div class="page-header no-border">
  <ol class="breadcrumb">
   <li><a href="..">Job Postings</a></li>
   <li>{{ job.title|safe }}</li>
  </ol>
</div>
</div>
<div class="row">
  <div class="col-md-8">
    <h1>{{ job.title|safe }}</h1>
    <div class="well">
      {% if "<p>" in job.details %}
        {{ job.details|safe }}
        {% else %}
      <p>{{ job.details|safe }}</p>
      {% endif %}
      {% if job.link %}<p><a class="btn btn-lg btn-primary" href="{{ job.link }}" role="button">Apply</a></p>{% endif %}
    </div>
    <div>
      {{ job.lengthy_details|safe }}
    </div>
  </div>
  <div class="col-md-4">
    {% if job.logo %}<img class="featurette-image img-responsive center-block" src="{{ MEDIA_URL }}{{job.logo.url }}" alt="{{job.title}}" width="300">{% endif %}
  </div>
</div>
<hr class="featurette-divider">
</div>  
{% endblock %}
